# Already commited files will not be ignored.
# to remove already commited files
# git rm -rf <file>
# example
# git rm -rf *.json

# Binaries
bin/
bin-int/
!vendor/bin/premake/
Hazel/vendor/GLFW/
Hazel/vendor/imgui/


# Visual Studio files and folder
.vs/
**.sln
Hazel.vcxproj
Sandbox.vcxproj
**.vcxproj
**.vcxproj.filters
*.user
*.json